* { direction: rtl; }

.owl-carousel .owl-wrapper-outer{direction:ltr;}

/*-------------------------------------Float Left-------------------------------------*/
.header-cart,#cart .text-right .addtocart, #cart .text-right .checkout,.pagination-right,
.category_filter .limit,.pull-right,.contact-info .right,.pagination-wrapper .page-link,
#cart,.close,#accordion .panel-heading .fa.fa-caret-down,#cart .button-container,.information-information .right,#button-search
{float:left;}
/*-------------------------------------------------------------------------------------*/

/*-------------------------------------Float Right-------------------------------------*/
.header-logo,.header-search,.category_filter .btn-list-grid,.compare-total,.category_filter .show,
.category_filter .sort,.sort-by-wrapper, .show-wrapper,.pull-left,.image1,.image2,.image3,.image4,
.contact-info .left,.contact-info .address-detail,.contact-info .telephone,.contact-info .fax,
.pagination-wrapper .page-result,.nav-tabs > li,legend,.product-thumb .price-new,.product-thumb .price-old
{float:right;}
/*-------------------------------------------------------------------------------------*/

.text-right {text-align: left;}
.text-left {text-align:right;}
.contact-info .address-detail,.contact-info .telephone,.contact-info .fax{float:right;}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, 
.input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, 
.input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    /*border-radius: 5px 0 0 5px;
	-webkit-border-radius:5px 0 0 5px;
	-khtml-border-radius:5px 0 0 5px;
	-moz-border-radius:5px 0 0 5px;*/

}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn
{
	/*border-radius: 0 5px 5px 0;
	-webkit-border-radius:0 5px 5px 0;
	-khtml-border-radius:0 5px 5px 0;
	-moz-border-radius:0 5px 5px 0;*/
}
.product-thumb .price-old{margin:0 0 0 10px; }
.category_list li {float: right;margin: 0 0 5px 10px;}
.category_filter .sort-by{float:right;margin:8px 0 0 10px;}
#column-left{ float:right; }
#column-right{ float:left; }
.flex-viewport {direction: ltr;}
.main-menu > ul > li {float:right;}
.main-menu > ul > li ul > li > ul{ margin-left:0; margin-right:-13px;}
.main-menu > ul > li ul > li > a { position:relative;}
.flex-control-nav{ right:auto; left:10px; padding:0;}
.sale{ left:10px; right:auto; }
.product-list .sale{  left: 10px; right: auto;}
.customNavigation a.prev { left: 10px;  right: auto;}
.customNavigation a.next{ right:10px;  left: auto; }
.main-menu > ul > li ul > li > a.activSub{background-image: url("../../image/megnor/rtl/cat_arrow_hover_rtl.png"); background-repeat: no-repeat; background-position: left center; }
.main-menu > ul > li ul > li:hover > ul {left:auto; right:173px;}
.box .box-content ul li{ padding-right:0; margin-right:0; }
ul.box-category > li a.active + ul , .box .box-content ul ul{ margin-left:0; margin-right:0; padding-right:15px }
ul.box-category > li ul > li > a{
	background: url("../../image/megnor/rtl/subcat_arrow_rtl.png") no-repeat scroll right center !important;
    padding-right: 12px;
}
ul.box-category > li ul > li > a:hover{
	background: url("../../image/megnor/rtl/subcat_arrow_hover_rtl.png") no-repeat scroll right center !important; 
}
#footer .column li a{
   	padding-left:0;
}

.top_button{left:8px; right:auto;}

.myaccount .dropdown-menu-right {
    right: auto;
    left: 0;
}
.dropdown-menu{
	right:auto;
	left:auto ;
	float:right;
}
.dropdown-menu.pull-right {
    right: auto;
    left: 0;
}
#top #currency .currency-select{text-align:right;}
.nav-tabs > li > a{margin-right:0; margin-left:2px;}
.breadcrumb>li+li:before{float:right; content:'\f100';}
.customSelectInner , .customSelectOpen .customSelectInner{ background-position:left center; } 
.customSelectInner {padding-left:10px;  text-align: right;}
.product-grid li, #content .box-product .product-items{ float:right; }
.category-info .image{ float:right; margin-left:10px; }
#column-left .box-product .image, #column-right .box-product .image{ float:right;   margin-left: 7px; margin-right:0; }
#column-left .box-product .rating, #column-right .box-product .rating, #column-left .box-product .name, #column-right .box-product .name, #column-left .box-product .price, #column-right .box-product .price, #column-left .box-product .cart, #column-right .box-product .cart{ margin-left:0; }
.product-list .right{ float:left;margin-left: 0px; margin-right:15px; text-align:left;}

.product-info > .left + .right {  margin-right: 295px;   margin-left:0px;}
.product-carousel .slider-wrapper-outer{ direction:ltr !important; } 
.product-right .btn-group .wishlist .fa,.product-right .btn-group .compare .fa{margin-right:0px; margin-left:5px;}
.product-layout.product-list .caption{ margin-right:30px; margin-left:0; float:right; }

#topcontrol{ right:auto !important; left:10px !important; } 

.list-inline {padding-right:7px;}

#column-left .product-items .product-details, #column-right .product-items .product-details{float:right;}
.product-thumb .button-group button, #cart .text-right .addtocart, #cart .text-right .checkout{float:right;}
#cart .text-right .addtocart{margin:0 0 0 5px;}

.category_img {float:right;}
.category_description {float:left;}
.list-unstyled {padding-right:0;}
.treeview-list .expandable-hitarea, .treeview-list .hitarea {float:left;}
.information-sitemap .site-map ul{padding:0 40px 0 0 ;}

.addthis_toolbox.addthis_default_style {float:right;}
.radio input[type=radio],.radio-inline input[type=radio],.checkbox input[type=checkbox],.checkbox-inline input[type=checkbox] {
    float: right;
	margin:3px 0 0 8px;
}
.radio, .checkbox,.radio-inline, .checkbox-inline{padding-left:0;}
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline{margin-right:10px; margin-left:0;}
.toggle .mobile_togglemenu{left:5px; right:auto;}

.col-sm-offset-8{margin-left:0; margin-right:66.66666666666666%; float:left;}

#accordion label.col-sm-2.control-label{padding:0 0 0 15px;}
.checkout-cart .input-group-btn:last-child > .btn, .checkout-cart .input-group-btn:last-child > .btn-group{margin-left:0px; margin-right:5px;}
#accordion .form-horizontal .control-label {text-align:right;}
.checkout-checkout #accordion label.col-sm-2.control-label{padding-left:0; padding-right:15px;}

#bottom-footer li{padding:1px 2px 1px 7px; background-position:left center;}

/*Megnor Blog CSS */ 
#content .box-product .blog-items {  float:right; }
.view-blog { text-align:right;}
.read-more { float:right; }
.write-comment { float:right; padding-right:0px; padding-left:10px; margin-right:0; margin-left:10px; }
.date-time { float:right; text-align:left; }
.blog-date { float:left; }

/*Megnor Blog CSS */ 





@media (min-width:768px) {
    .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
        float: right;
	}
	.product-list .product-thumb .image {float: right;}
}
.contact-info .address-detail strong{  padding: 5px 45px 0 0; background-position:right -235px; float:right;}
.contact-info .telephone strong{  padding: 5px 45px 0 0; background-position:right -314px; float:right;}
.contact-info .fax strong{  padding: 5px 45px 0 0; background-position:right -272px; float:right;}
.contact-info address{float:right; margin: 0 40px 0 0;}

/*-------------------------------------RTL Responsive-------------------------------------*/

@media only screen and (min-width: 1024px) and (max-width: 1250px) {
	#footer {padding: 61px 15px 32px;}
	#footer .footer-left{ margin-right:15px; margin-left:62px; width:20.7%;}
	.footer_inner .column{ margin-left:19px;}
	#news{ margin-right: -1px;}
	.col-sm-5.header-search{ width:26.8%;}
	#cart .dropdown-menu{ left:0;}
	.shopping-cart .input-group-btn{ float:right;}
	.product-grid .product-thumb{ margin:0;}
}

@media only screen and (min-width: 980px) and (max-width: 1023px) { 
	.col-sm-5.header-search{ width:28%;}
	.footer-left{ margin-right:15px; margin-left:62px;}
}

@media only screen and (max-width: 979px) {
 
	.nav-responsive .expandable{ float:left; margin-right:0; margin-left:10px;  }
	.nav-responsive div, .responsive-menu .hitarea{ margin-left:10px; margin-right:0; }
	 .responsive-menu .main-navigation ul{ padding-right:20px; padding-left:0; }
	.nav-responsive div, .responsive-menu .hitarea{ float:left; }
	.toggle .mobile_togglemenu{ background-position: left 3px; }
	.active .mobile_togglemenu{background-position:left -49px;}
	 .pagination-right{float:right;}
	 div .subbanner-cms2 .right-banner{ margin-top:20px; margin-right:0;}
	 .row .footer-left{ margin-left:0; margin-right:0;}
	 .column .toggle .mobile_togglemenu{ background:rgba(0, 0, 0, 0) url("../../image/megnor/toggle-arrow.png") no-repeat scroll left 0;}
	 .column .toggle.active .mobile_togglemenu { background:rgba(0, 0, 0, 0) url("../../image/megnor/toggle-arrow.png") no-repeat scroll left -52px;}
	 #footer .footer_inner #txtemail{ width:40%; float:right;}
	 .footer_inner .btn.btn-default.btn-lg{ float:right;}
	 .nav-container .responsive-menu{ float:right; text-align:right;}
	 .nav-inner .col-sm-5.header-search{ float:right;}
	 .product-grid li, #content .box-product .product-items, #producttab .box-product .product-items, #producttab .product-carousel .slider-item, #content .product-carousel .slider-item{text-align:right;}
	 .footerblock .title, .subtitle{ margin:0;}
	 #cart .dropdown-menu{ left:0;}
	 #column-left .box .toggle .mobile_togglemenu, #column-right .box .toggle .mobile_togglemenu{ background:rgba(0, 0, 0, 0) url("../../image/megnor/toggle-arrow.png") no-repeat scroll left 0; margin:0; width:99%;}
	 #column-left .box .toggle.active .mobile_togglemenu{background:rgba(0, 0, 0, 0) url("../../image/megnor/toggle-arrow.png") no-repeat scroll left -52px;}
	 .footer_inner .column{ margin-right:0;}
	 #cart{ float:right;}
	 #producttab .box-heading::before{ left:5.5%; right:5.5%;}
	 #content .form-horizontal .control-label{ text-align:right;}
	 .shopping-cart .input-group-btn{ float:right;}
	 #column-right .box .box-heading, #column-left .box .box-heading{ padding: 12px 5px 14px;}
	 .product-thumb .button-group{ margin-left:0;}
}
@media (max-width: 767px) {
	.header-logo,.header-search,.header-cart{display:inline-block;float:none;width:100%;}
	.header-logo{text-align:center;}
	.header-logo > div{display:inline-block;}
	.header-cart { margin: 0 auto; padding: 0;width: 200px;}	
	#cart .dropdown-menu {left:0; right:auto;}
	.category_filter .show {float: right; margin: 8px 0 0 10px;}
	.header-cart #cart{float:none;}
	 .table-responsive {
		float: right;
	 }
	 .checkout-cart .table.table-bordered .input-group-btn{float:right;}
	 #search .input-lg{ padding:5px 5px 4px 12px; float:left;}
	 .header-cart{ width:46%; text-align:right;}
	 .cart_text{ 
	 background:rgba(0, 0, 0, 0) url("http://192.168.0.101/user19/Theames/opencart-2.2.0.0/upload/image/sprite.png") no-repeat scroll 0 -77px;
	}
	 .cart_text:hover{ background-position:0 -110px;}
	 .subbanner-cms2 .left-bottom.banner .img2{ width:56.5%;}
	 .parallex-block{ height:auto;}
	 #cart .dropdown-menu{ top:32px; width:290;}
	 .product-info .left .additional-carousel .customNavigation span.prev{ left:-70px;}
	 #footer .footer_inner #txtemail{ width:auto; float:right;}
	 .banners-slider-carousel .customNavigation{ display:block;}
	 .banners-slider-carousel .product-carousel .product-block{ padding:0;}
	 .nav-inner .col-sm-5.header-search{ float:none;}
#search {
    padding: 0;
    width: auto;
    position: relative;
    display: inline-block;
}
.col-sm-3.header-cart {
    padding: 0;
    float: none;
    width: initial;
    vertical-align: top;
}
#search .input-group-btn {
    display: inline-block;
    position: static;
}
.header-search #search .btn-lg {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    padding: 0px 0;
    position: absolute;
    border: medium none;
    right: auto;
    left: 10px;
    top: 1px;
    z-index: 99999;
}
.cart_text, #cart {
    border: medium none;
    padding: 1px 0 4px;
    width: 50px;
    float: none;
}
#content .form-horizontal .control-label{ text-align:right; padding:0 15px; float:right;}
#add-comment .col-sm-10 {
    width: 100%;
}	 
	 
}

@media(max-width:640px){
	div .subbanner-cms2 .left-bottom.banner .img2, .subbanner-cms2 .left-bottom.banner .img3, .subbanner-cms2 .right-top.banner{ width:100%; float:none;}
	div .subbanner-cms2 .left-top.banner { margin-bottom: 12px;}
	div .subbanner-cms2 .left-bottom.banner .content-inner .img3{ margin:12px 0 0; float:none;}
	div .subbanner-cms2 .right-banner{ margin-top:12px;}
	div .subbanner-cms2 .right-bottom.banner{ margin:12px 0 0; width:100%;}
	div .subbanner-cms2{ text-align:center;}
	.subbanner-cms2 .right-top.banner{ margin:0;}
	.product-layout.product-list .caption{ width:40%; margin-top:0; margin-bottom:50px;}
	}

@media only screen and (max-width: 479px) {
	#cart .dropdown-menu { left:0; right:auto;}
	.table{	
		float: right;
		display:inline;		
	}
	.pagination-wrapper .page-link{float:right;}
	.pagination-wrapper .page-result{float:right;clear:both;}
	.checkout-cart .pull-right {clear: both; float: right; margin: 10px 0;}
	.checkout-cart #accordion .input-group-btn{float:right;}
	.checkout-cart .input-group-btn:last-child > .btn, .checkout-cart .input-group-btn:last-child > .btn-group{margin:0px;}
	.hometab .htabs .etabs li{ background:none;}
	.btn.btn-inverse.btn-block.btn-lg.dropdown-toggle.cart_text{ width:100%;}
	.product-info .left .additional-carousel .customNavigation span.prev{ left:0;} 
	.product-right #product .btn.btn-default.compare.link{ margin-top:20px;}
	.product-layout.product-list .caption{ width:auto;}
	.page-title, .refine-search, .product-option{ font-size:15px;}
	.product-layout.product-list .caption{ margin-right:0;}
	
}
@media only screen and (max-width: 320px){
	#cart .dropdown-menu { left:0;right:auto;}
	#cart .text-right .checkout{margin:0;}
	
}

.col-sm-2.control-label{ float:right;}
.navbar-nav {
    float: right;
}
.col-sm-5.header-search {
    float: left;
}

.row .header-logo {
	float:right;
}

.header-cart {
	float:left;
}

.header-center {   
   text-align:center;
   float:right;
   margin:0;
}
.header-content {
    display: inline-block;
    float: left;
    padding-top: 15px;
}
.col-sm-3.header-cart{ float:left;}
#cart-total {
    height: 28px;
	text-align:center;
}

#search .btn-lg{ right:-20px; margin:0;}
.shopping-cart .input-group-btn{ float:right;}
#menu ul.nav li .megamenu ul.list-unstyled li > a, .hiden_menu .top_level a{ text-align:right;}

#form-language{ background:rgba(0, 0, 0, 0) url("http://192.168.0.101/user19/Theames/opencart-2.2.0.0/upload/image/pipe.gif") no-repeat scroll left 8px;}

.pull-left #form-language{
    padding: 1px 0 0 10px;
	margin:0;
}

.pull-left #form-currency {
    padding: 1px 10px 0 0;
	margin:0;
}


#top .pull-left{ text-align:right;}

.hoverblock .button-group button{ float:none;}

.subbanner-cms2 .left-banner {
    float: right;
}
.subbanner-cms2 .right-banner {
    margin-right:20px;
	margin-left:0;
}
.subbanner-cms2 .left-bottom.banner .content-inner .img3 {
    float: right;
    margin: 0 20px 0 0;
}

.subbanner-cms2 .img1, .subbanner-cms2 .img2 {
    float: right;
}

.footerblock .title, .subtitle{ float:right;}

#bottom-footer > div, .social-icon{ float:left;}
#map{ float:right;}
.social-icon li a .fa {
    padding: 5px 5px 0 10px;
}

.footer-left {
    float: right;
    margin-right: 16px;
    margin-left: 135px;
}


#content #blog-carousel .blog-item{ float:right;}

.blog-left .blog-image .zoom, .blog-left-content .blog-image .zoom{
	margin-left:-50px;
	margin-right:0;
}

.blog-item:hover .product-block .post_hover, .blog-item:hover .product-block .zoom, .blog-item:hover .product-block .readmore_link, .panel-body:hover .blog-image .zoom, .panel-body:hover .blog-image .readmore_link{ margin-left:10px; margin-right:0;}

.box .box-heading::before{ left:0; right:0;}
.blog-item:hover .read-more a, .panel-body:hover .read-more a{
    margin-right: 15px;
    transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;

}
.page-title{
	padding-right:15px;
}
.content-top-breadcum #title-content .breadcrumb{ float:left;}

#column-right .box .box-heading, #column-left .box .box-heading{ text-align:right;}
.product-list .price{ text-align:right;}
.panel .panel-body{ padding:15px 0 0;}
.form-horizontal{ text-align:left;}
#button-quote{ margin-left:5px;}


.clickable .fa.next {
    right: 135px;
}
.clickable .fa.prev::before{ padding:0 5px 0 0;}
.clickable .fa{ padding:2px 0 0;}
.clickable .fa.next::before{ padding:0 0 0 2px;}


.main-slider .owl-carousel .owl-buttons div i {
    font-size: 40px;
    margin: -31px -100px 0;
}

.htabs .etabs li{ background:rgba(0, 0, 0, 0) url("http://192.168.0.101/user19/Theames/opencart-2.2.0.0/upload/image/pipe.gif") no-repeat scroll left center;}

.top_level.home_first > a{ padding-right:0; padding-left:13.5px;}
.footer_inner #txtemail{ width:100%;}
#bottom-footer #powered {
    float: right;
}

#bottom-footer .social-icon li{ margin:0 6px 0 0; }
#top-links li{ padding-right:5px;}
#additional-carousel.product-carousel .slider-wrapper-outer{ margin:0;}
.product-info .image-additional{ right:0;}
.footerblock{ padding-right:47px; padding-left:0;}
.footerblock1{ background-position:right -138px; }
.footerblock2{ background-position:right -277px; }
.footerblock3{ background-position:right 5px; }
.footerblock4{ background-position:right -418px; }
.footerblock1:hover{ background-position:right -208px;}
.footerblock2:hover{ background-position:right -347px;}
.footerblock3:hover{ background-position:right -65px;}
.footerblock4:hover{ background-position:right -488px;}
.price{ border-right:1px solid #ccc; border-left:none;}
.product-info .left .additional-carousel .customNavigation span.prev, .product-info .left .additional-carousel .customNavigation span.next{ padding:3px 8px 0 0;}
#products-related .customNavigation .prev, #products-related .customNavigation .next{ padding:7px 6px 0 0;}
 #products-related .customNavigation a.next{ right:-20px;}
#product .btn.btn-default.wishlist.link::before{ margin-left:8px; margin-right:0;}
#product .btn.btn-default.compare.link::before{margin-left:8px; margin-right:8px;}
.col-sm-10 > img {
    float: right;
}
#tab-review .col-sm-12, #tab-review .col-sm-10{ width:100%; text-align:right;}
.col-sm-9 h3, #tabs-info .control-label{ text-align:right;}
.col-sm-9 .list-unstyled{ margin:20px 0;}
.radio label, .checkbox label{ float:right;}
#tab-review .pull-right {
    float:left;
}
.footer_inner .btn.btn-default.btn-lg{ float:right;}
.product-list .product-thumb{ float:right;}
.header-cart #cart .text-right{ float:right;}
fieldset legend{ text-align:right;}
#menu ul.nav li .megamenu.column1 ul.list-unstyled > li.dropdown .dropdown-menu{ right:160px; left:auto;}
.form-group.qty .control-label{ float:right; margin:6px 0 0 10px;}
#input-quantity{ float:right; margin-left:15px; margin-right:0;}
#product .btn.btn-default.wishlist.link, #product .btn.btn-default.compare.link{ padding-right:0;}
#tabs-info .nav-tabs li{ float:right;}
#content .form-horizontal .control-label{ text-align:right;}
.qty .fa.fa-shopping-cart {
    padding-left: 10px;
	padding-right:0;
}
#menu ul.nav li .megamenu ul.childs_1:first-child {
    padding: 23px 39px 28px 0;
}
#menu ul.nav li .megamenu.column1 ul.childs_1{ padding:0;}
#top #form-currency .currency-select, #top #form-language .language-select{ text-align:right;}
#top-links .dropdown-menu a{ padding:8px 15px 6px 0; text-align:right;}
#search .input-lg{ padding:4px 12px 5px 30px; float:left;}
#search .btn-lg{ bottom:5px;}
#producttab .box-content{ text-align:right;}
.product-grid .caption, .filterbox .panel-footer{ text-align:right;}
#cart .dropdown-menu{ right:auto; left:-1px;}
.view-comment .comment{ margin-right:45px; margin-left:0;}
.shopping-cart .input-group .form-control{ float:right;}
.quickview-button{ margin:0 3px;}
.quickview .control-label.qty {
    float: right;
    margin: 6px 0 0 10px;
}










